
  body {
    min-height: 100%;
    height: 100%;
  }


.main-content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "leaflet-map -side-pannel";
}


#map {
    height: 100vh;
}

/* Main Script Generator Container */
.side-pannel {
    height: 100vh;
    background-color:  #00364d;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 0.15fr; 
    gap: 0px 5px;
    grid-template-areas:
        "coordinate-text-container"
        "controls-container"
        "script-area-container"
        "export";
    
        overflow-y :scroll;
}

/* Lat Long text area */

.coordinate-text-container {
    border: 2px solid greenyellow;
    padding: 10px;
}

#coords-list {
    height: 100%;
    width: 100%;
    white-space: pre-line;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    text-align: start;
}

/* Control container styles */

/* Control Button Styles*/

.controls-container {
    border: 2px solid greenyellow;
    margin: 0px;

}

.controls-container button {
    width: 75%;
    border-radius: 10px;
    margin:0 auto;
    display:block;
    align-items: center;
    text-align: center;
}

.controls-container button:focus {
    outline: none;
}

/* Script area container styles*/
.script-area-container {
    border: 2px solid greenyellow;
    grid-area: script-area-container;
    margin-top: 0;
    position: relative;
    padding: 10px;
}

.script-area-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
}

.script-area-container button:focus {
    background-color: #28a745;
    outline: none;

}

.script-area-container textarea {
    white-space: pre-line;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: start;
}

.export {
    grid-area: export;
    border: 2px solid greenyellow;
}

#export-script {
    border-radius: 10px;
    width: 75%;
    margin:0 auto;
    align-items: center;
    text-align: center;
    display:block;
}