#map {
    height: 70vh;
    width: 100vw;
}

#script-div {
   display : inline-flex;
   width: 100vw;
   justify-content: center;
}

#coords-list{
    white-space: pre-line;
}

#gen-script {
    white-space: pre-line;
}
